////
/// Global Variables
/// @group _variables.scss
////

/// Default font
$font-stack:						'Open Sans', Arial, Helvetica, 'Lucida Sans Unicode', sans-serif 								!default;
/// Base font size
$base-font-size:					13px 				!default;

/// Mobile breakpoint
$S:									480px 				!default;
/// Tablet portrait breakpoint
$M:									769px 				!default;
/// Desktop/tablet landscape breakpoint
$L:									1000px 				!default;

